<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/convert.css' />
    <link href="https://fonts.googleapis.com/css?family=Major+Mono+Display" rel="stylesheet"> 
</head>
<!--
    playlist.name = req.name;
    playlist.description = req.description;
    playlist.followers = req.followers.total;
    playlist.numTracks = req.tracks.total;
    playlist.creator = req.owner.display_name;
    playlist.tracks = req.tracks.items;
-->

<body>
    <div class="display spotify-box full">
        <div class="title">
        <div class="playlist_image"><img src="<%- playlist.image %>"></div>
            <h1>
                <%- playlist.name %>
            </h1>
            <p class="desc">
                <%- playlist.description %>
            </p>
            <p class="desc">
                Created by
                <%- playlist.creator %> -
                <%- playlist.numTracks %> Tracks -
                <%- playlist.followers %> Followers
            </p>
        </div>
        <table>
            <tr>
                <th class="index">#</th>
                <th>TITLE</th>
                <th>ARTIST</th>
                <th>ALBUM</th>
            </tr>
            <%
            let index = 1; 
            for (let i = 0; i < playlist.tracks.length; i++){

                if(playlist.tracks[i].track.is_local){
                    console.log(`${playlist.tracks[i].track.name} is local only. Skipping to next available track.`);
                    i++;
                    continue;
                }
                __append(`<tr class="border-bottom"><td class="index">${index}</td><td><a href="https://open.spotify.com/track/${playlist.tracks[i].track.id}" target="_blank">${playlist.tracks[i].track.name}</a></td><td><a href="https://open.spotify.com/artist/${playlist.tracks[i].track.artists[0].id}" target="_blank">${playlist.tracks[i].track.artists[0].name}</a></td><td><a href="https://open.spotify.com/album/${playlist.tracks[i].track.album.id}" target="_blank">${playlist.tracks[i].track.album.name}</a></td></tr>`);
                index++;
            } %>
    </div>
    <div class="display deezer-box hidden">

    </div>
</body>