<style>
    * {
        margin: 0;
        padding: 0;
        background: #111;
        color: #eee;
    }

    .middle {
        height: 100%;
        width: 60%;
        font-family: Arial, Helvetica, sans-serif;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        text-align: center;
        margin: auto;
    }

    .middle h1 {
        font-size: 3vmax;
    }
</style>
<div class="middle">
    <h1>
        <%= message %>
    </h1>
    <h2>
        <%= error.status %>
    </h2>
</div>
<code>
    <pre><%= error.stack %></pre></code>