<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link href="https://fonts.googleapis.com/css?family=Major+Mono+Display" rel="stylesheet"> 
</head>

<body>
  <main>
    <div id="page">
      <div id="inner">
        <div class="center-box">
          <div class="description-box">
            <h1 class="header">Playlist to Albums</h1>
            <p class="desc">Batch convert <b>spotify</b> playlists to <b>deezer</b> albums</p>
          </div>
          <form id="playlistInput" name="playlistIn" method="post" action="/convert">
            <input id="playlist_link" name="playlistURL" type="url" placeholder="https://open.spotify.com/playlist/37i9dQZEVXcIA5u1hFptve"
              required>
            <!--<button type="submit">convert</button>-->
          </form>
        </div>
      </div>
    </div>
  </main>

  <footer>

  </footer>
  <!--<h1>
    <%= title %>
  </h1>
  <p>Welcome to
    <%= title %>
  </p>-->
</body>

</html>