.display {
    /*height: 100%;*/
    overflow-x: hidden;
    overflow-y: auto;
    padding: 50px;
}

.full {
    width: 80%;
    margin: auto;
}

.half {
    width: 50%;
}

.hidden {
    width: 50%;
    display: none;
}

body {
    background: #111;
    color: #eee;
}

.title {
    padding-bottom: 40px;
    width: 60%;
    height: 150px;
}

.title h1 {
    font-size:  3vmax;
    padding-bottom: 8px;
    padding: 8px;
    margin-left: 30px;
}

.title p{
    padding: 8px;
}

.index td {
    font-size: 0.6vmax;
}

table {
    width: 100%;
    margin: auto;
    text-align: left;
    font-size: 1vmax;
}

td {
    width: 33%;
}

th {
    font-weight: 200;
    color: #444;
    font-size: 0.9vmax;
}

tr.border-bottom td {
    border-bottom: 1pt solid #444;
}

tr{
    border-bottom: 1pt solid #444;
}

.index {
    width: 35px;
    color: #444;
    text-align: center;
    font-size: 0.6vmax;
    padding: 5px;
}

.playlist_image{
    height: 150px;
    width: 150px;
    background: blueviolet;
    float: left;
}

.playlist_image img{
    width: 100%;
    height: 100%
}