* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Major Mono Display', monospace;
}

a {
  color: inherit;
  text-decoration: none;
}

nav {
  height: 80px;
  width: 100%;
  background: #444;
  color: #eee;
  position: absolute;
}

footer {
  height: 150px;
  width: 100%;
  background: #222;
  color: #ccc;
}

#buttons {
  width: 400px;
  float: right;
  height: 100%;
}

#buttons ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  text-align: center;
  list-style-type: none;
}

#page {
  background-image: url("../images/photo-1543900297-db6826d2fda3.jpg");
  background-size: cover;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

form {
  width: 100%;
}

#inner {
  background: rgba(0, 0, 0, 0.5);
  color: #eee;
  height: 800px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

#playlist_link {
  height: 50px;
  width: 90%;
  float: right;
}

button {
  height: 50px;
  width: 10%;
}

.center-box {
  margin: auto;
  width: 800px
}

.descripton-box {
  padding: 50px;
}

.desc {
  font-size: 18px;
  color: #ccc;
}

#playlist_link {
  width: 100%;
  height: 50px;
  border-radius: 15px;
  background: #222;
  color: white;
  border: 1px #111 solid;
  padding: 15px;
  margin: 15px;
  font-size: 20px;
}

.header{
  font-size: 48px;
}

a{
  transition: color 0.2s ease-in-out;
}

table a:hover {
  color: #444;
}